@use "../../utilities/variables" as v;
@import "../../utilities/adaptive";

#home{
    #home-heading{
        background: linear-gradient(0deg, v.$dark_blue 0%, rgba(9, 20, 41, 0.8) 35.38%, rgba(0, 0, 0, 0.4) 100%);
        // background-position: center;
        // background-repeat: no-repeat;
        // background-size: cover;
        height: 100vh;
        max-height: 400px;
        @include _lg{
            max-height: 800px;
        }
        position: relative;
    }
    #home-directions{
        padding: 96px 0;
        background-color: v.$dark_blue;
        
    }
    #home-services{
        padding: 96px 0;
        background-color: v.$white;
    }
    #consulting{
        padding: 96px 0;
        background-color: v.$white;
        .col:first-of-type{
            display: flex;
            position: relative;
            .text{
                position: absolute;
                margin: auto;
                display: flex;
                flex-direction: column;
                justify-content: center;
                z-index: 1;
                height: 100%;
            }
            .symbols-visual{
                display: flex;
                i{
                    margin: auto;
                    content: url("../../utilities/icons/bg-symbols-box.svg");
                }
                @include _xl{
                    margin-left: -40px;
                }
            }
        }
    }
}

.image-container{
    width: 100%;
    height: 100%;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}

.background{
    z-index: -10;
}

.slideshow{
    height: 100%;
    width: 100%;
    // position: relative;
    .slideshow-container{
        width: 100%;
        height: 100%;
        .slide{
            width: 100%;
            height: 100%;
        }
    }
    .slideshow-dots{
        z-index: 100;
        position: absolute;
        bottom: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .dot{
            display: block;
            width: 8px;
            height: 8px;
            border-radius: 4px;
            background: #E9F0FC;
            // opacity: 0.2;
        }
    }
}